name: Refresh stars daily

on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *'

jobs:
  refresh:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dynamotn/action-awesome-list@v2.1.1
        with:
          token: ${{ secrets.API_TOKEN }}
          config: |
            git:
              email: ${{ secrets.USER_EMAIL }}
              name: ${{ github.repository_owner }}
